/**/

@font-face {
    font-family: 'raleway' ;
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}

html{
    font-family: 'raleway';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.body{
    margin: 0 auto;
    max-width: 1520px;
}
/**** Header ****/

#logo{
    float:left;
    margin-top: 50px;
    margin-left: 50px;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a{
    display: inline-flex;
    justify-content: flex-end;
    text-decoration:none; 
    color:#0065FC;
    padding: 50px 20px 0 20px; 
    margin-right: 50px;
} 

#heb{
    color:#0065FC;
    border-top: 1px solid #0065FC;
}

#act{
    color: black;
}

#register{
    font-weight: bold;
}

/**** Titre ****/
.titre{
    margin: 60px 0 10px 50px;
    padding: 0;
}

h1{
    margin: 0 0 5px 0;
    font-size: x-large;
}

.titre p{
    margin: 0;
}

/**** Recherche ****/

#search{
    margin-top: 10px;
    display: inline-flex;
    height: 50px;
    width: 400px;
    margin-bottom: 25px;
    margin-left: 50px;
}

#maps{
    display: inline-flex;
    width: 13%;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#maps i{
    margin-left: 20px;
}

input::placeholder{
    color: black;
    opacity: 1;
    font-weight: bold;  
    font-size: medium; 
}

#site-search{
    width: 65%;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
}

#button-search{
    border: 0;
    width:100%;
    height:50px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}

/**** Filtres ****/

#filtres h2{
    display: inline-flex;
    padding-right: 15px;
    font-size: large;
}

.icon{
    display: inline-flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: #DEEBFF;
    margin-right: 10px;
    position: relative;
    right: 2px;
}

.icon i{
    color: #0065FC;
    margin-left: auto;
    margin-right: auto;
}

.filtre{
    display: inline-flex;
    align-items: center;
    /*width: 250px;*/
    height: 42px;
    margin: 10px;
    padding-right: 20px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.filtre:hover{
    background-color:#DEEBFF;
    font-style: italic;
    border: 2px solid #D9D9D9;
}

#filtres{
    margin-bottom: 30px;
    margin-left: 50px;
}

#filtres a{
    text-decoration: none;
    color: black;
}
/**** Information ****/

.info{
    margin-left: 50px;
}

.img-info{
    float:left;
    height: 20px;
    width: 20px;
    color: royalblue;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 5px;
}

.info i{
    padding: 4px 0 0 8px;
}

.moreinfo{
    padding-top: 2px;
    margin-bottom: 40px;
}

/**** Hébergements ****/

.contenerhebergement{
    display: inline-flex;
    width: 1520px;
}

.contenerhebergement a{
    text-decoration: none;
    color: black;
}

.hpart1{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 30px 0 0 40px;
    width: 80%;
}


.harticle{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px;
}

#hebergement{
    padding-left: 5px;
    font-size: x-large;
    margin: 10px;
}

.h{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    height: 190px;
    margin: 12px;
    line-height: 7px;
    box-shadow: 0 0 1em 1px #D6D6D6;
}

.himg{
    overflow: hidden;
    height: 115px;
    border-radius: 20px 20px 0 0;
}

.hpart1 img{
    display: block;
    width: 300px;
    height: 112px;
    object-fit: cover;
}

.h p, .h .stars{
    padding-left: 10px;
}

.plus{
    font-weight: bolder;
    font-size: larger;
    margin: 10px;
    padding-left: 5px;
}

/**** Stars ****/

.stars{
    display: inline-flex;
}

.bluestars{
    color: royalblue;
}

.greystars{
    padding-left: 4px;
    color: #D9D9D9;
}

.astars{
    display: inline-flex;
    margin-top: 30px;
}

/**** Aside ****/

.popplus{
    background-color: #F2F2F2;
    width: 480px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin-right: 50px;
}

.ptitre{
    display: inline-flex;
    margin-left: 17px;
}

#picon{
    margin-top: 26px;
    margin-left: 95px;
}

.pop a{
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    height: 145px;
    margin: 3px 30px 19px 17px;
}

.popplus img{
    display: block;
    width: 138px;
    height: 153px;
    object-fit: cover;
}

.pimg{
    overflow: hidden;
    height: 145px;
    min-width: 135px;
    border-radius: 20px 0 0 20px;
}

.ptext{
    padding-left: 15px;
}

.ptext p{
    margin-bottom: 7px;
}

/**** Activité ****/

.activite{
    margin: 70px 50px 60px 50px;
}

#activites{
    margin-bottom: 30px ;
    font-weight: bolder;
}
.aimg{
    display: grid;
    grid-template-columns: 325px 325px 325px 325px;
    grid-template-rows: 200px 200px;
    column-gap: 3%;
    row-gap: 3%;
}

.aimg img{
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.aarticle{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px #EBEBEB;
    margin-bottom: 10px;
    text-decoration:none; 
    color: black;
}

#aimg1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#aimg2{
    grid-column-start: 2;
    grid-row-start: 1;
}

#aimg3{
    grid-column-start: 2;
    grid-row-start: 2;
}

#aimg4{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#aimg5{
    grid-column-start: 4;
    grid-row-start: 1;
}

#aimg6{
    grid-column-start: 4;
    grid-row-start: 2;
}

#aimg1 img, #aimg4 img{
    height: 350px;
    width: 325px;
}

#aimg2 img, #aimg3 img, #aimg5 img, #aimg6 img{
    height: 140px;
    width: 325px;
}

.aarticle div{
    margin: 15px;
    font-weight: bolder;
}

.psstitre{
    font-size: smaller;
    margin: 0 0px 32px 0px;
}

/**** Footer ****/
footer{
    display: flex;
    justify-content: flex-start;
    background-color:#F2F2F2;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 25px;
    max-width: 1520px;
}

footer a{
    text-decoration:none;
    display: block;
    margin-bottom: 10px;
    color: black;
}
footer div{
    width: 350px;
    margin: 0 50px 0 50px;
}
