.activities {
    margin: 70px 50px 60px 50px;
}

#activities {
    margin-bottom: 30px;
    font-weight: bolder;
}

.activities-img {
    display: grid;
    grid-template-columns: auto 300px auto 300px;
    grid-template-rows: 200px 200px;
    column-gap: 3%;
    row-gap: 3%;
}

.activities-img img {
    display: block;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-article {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 2px #EBEBEB;
}

#activities-img1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#activities-img2 {
    grid-column-start: 2;
    grid-row-start: 1;
}

#activities-img3 {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: 50px;
}

#activities-img4 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#activities-img5 {
    grid-column-start: 4;
    grid-row-start: 1;
}

#activities-img6 {
    grid-column-start: 4;
    grid-row-start: 2;
}

#activities-img1 img,
#activities-img4 img {
    width: 100%;
    height: 350px;
}

#activities-img2 img,
#activities-img3 img,
#activities-img5 img,
#activities-img6 img {
    width: 100%;
    height: 140px;
}

#activities-img3 img {
    width: 100%;
    height: 100px;
    background-color: unset;
    box-shadow: 0 0 10px 2px #EBEBEB;
}

.activities-article div {
    margin: 15px;
    font-weight: bolder;
}


/*** Tablet ***/

@media screen and (max-width: 1150px) and (min-width: 860px) {
    .activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 2% 80px 2%;
    }
    .activities-img {
        display: grid;
        grid-template-columns: 335px 335px;
        grid-template-rows: repeat(3, 200px);
        column-gap: 5%;
        row-gap: 1%;
    }
    #activities-img1 {
        grid-column-start: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    #activities-img2 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img3 {
        grid-column-start: unset;
        grid-row-start: unset;
        margin-top: unset;
    }
    #activities-img4 {
        grid-column-start: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    #activities-img5 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img6 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img1 img,
    #activities-img4 img,
    #activities-img2 img,
    #activities-img3 img,
    #activities-img5 img,
    #activities-img6 img {
        width: 335px;
        height: 140px;
    }
    #activities {
        align-self: normal;
        margin-left: 5%;
    }
}


/*** Phone ***/

@media screen and (max-width: 860px) {
    .activities {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 2% 80px 2%;
    }
    .activities-img {
        display: grid;
        grid-template-columns: 335px;
        grid-template-rows: repeat(6, auto);
        column-gap: 3%;
        row-gap: 1%;
    }
    #activities-img1 {
        grid-column-start: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    #activities-img2 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img3 {
        grid-column-start: unset;
        grid-row-start: unset;
        margin-top: unset;
    }
    #activities-img4 {
        grid-column-start: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    #activities-img5 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img6 {
        grid-column-start: unset;
        grid-row-start: unset;
    }
    #activities-img1 img,
    #activities-img4 img,
    #activities-img2 img,
    #activities-img3 img,
    #activities-img5 img,
    #activities-img6 img {
        width: 335px;
        height: 140px;
    }
    #activities {
        align-self: normal;
        margin-left: 5%;
    }
}