.contener-aside {
    background-color: #F2F2F2;
    margin-right: 50px;
    padding: 20px;
    border-radius: 20px;
}

.aside-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-article a {
    display: flex;
    min-width: 250px;
    height: 145px;
    margin: 3px 30px 19px 17px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
}

.aside-img img {
    display: block;
    width: 138px;
    height: 153px;
    object-fit: cover;
}

.aside-img {
    overflow: hidden;
    min-width: 135px;
    height: 145px;
    border-radius: 20px 0 0 20px;
}

.aside-text {
    padding-left: 15px;
}

.aside-text p {
    margin-bottom: 7px;
}

.aside-text-without-title {
    font-size: smaller;
    margin: 0 0px 32px 0px;
}


/**** Tablet ****/

@media screen and (max-width: 1320px) and (min-width: 990px) {
    .contener-aside {
        max-width: unset;
        margin-right: unset;
    }
    .aside-title {
        display: flex;
        /*width: 100%;*/
        max-width: unset;
        margin-right: unset;
        justify-content: space-between;
    }
    .contener-aside-articles {
        display: flex;
        flex-direction: row;
    }
    .aside-article a {
        margin: 3px 0 19px 0;
        /*max-width: 335px;*/
        padding-right: 2%;
    }
    #aside-title-icon {
        margin-left: 87px;
    }
    .aside-article {
        margin: 0 5px;
    }
}


/*** Phone ***/

@media screen and (max-width: 990px) {
    .contener-aside {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        max-width: unset;
        margin-right: unset;
        padding: 20px;
        border-radius: 20px;
    }
    .aside-article a {
        margin: 3px 0 19px 0;
        max-width: 335px;
        padding-right: 2%;
    }
}