@font-face {
    font-family: 'raleway';
    src: url('../Raleway-VariableFont_wght.ttf') format('truetype');
}

html {
    font-family: 'raleway';
    --primary-color: #0065FC;
    overflow-wrap: break-word;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 2000px;
}

img {
    max-width: 100%;
}


/*** Téléphone ***/

@media screen and (max-width: 860px) {
    main {
        margin: 0 auto;
    }
}