#filters h2 {
    display: inline-flex;
    padding-right: 15px;
    font-size: large;
}

.filter-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
    right: 2px;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 22px;
    background-color: #DEEBFF;
}

.filter-icon i {
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-color);
}

.filter {
    display: inline-flex;
    align-items: center;
    height: 42px;
    margin: 10px;
    padding-right: 30px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
}

.filter:hover {
    font-style: italic;
    background-color: #DEEBFF;
    border: 2px solid #D9D9D9;
}

#filters {
    margin-bottom: 30px;
    margin-left: 50px;
}

#filters a {
    text-decoration: none;
    color: black;
}


/*** Phone ***/

@media only screen and (max-width: 600px) {
    #filters {
        margin-bottom: 30px;
        margin-left: 6%;
    }
    #filters h2 {
        display: flex;
    }
    #filters h3 {
        font-size: medium;
    }
    #filters div {
        margin-right: 5px;
    }
    .filter:hover {
        font-style: unset;
        background-color: unset;
    }
    .filter:active {
        font-style: italic;
        background-color: #DEEBFF;
        border: 2px solid #D9D9D9;
    }
}