footer {
    display: flex;
    justify-content: flex-start;
    /*max-width: 1520px;*/
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #F2F2F2;
}

footer a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

footer div {
    width: 350px;
    min-width: 100px;
    margin: 0 50px 0 50px;
}


/**** TV 4K ****/

@media screen and (min-width:2000px) {
    footer {
        justify-content: center;
    }
}


/**** Phone ****/

@media only screen and (max-width: 600px) {
    footer {
        display: block;
        padding-top: 25px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }
    footer div {
        width: unset;
        margin-bottom: 50px;
        margin-left: 10%;
    }
}