#logo {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}

.logo {
    display: flex;
    flex: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-without-logo {
    display: flex;
    justify-content: flex-end;
    padding: 50px 50px 0 20px;
    text-decoration: none;
    color: var(--primary-color);
}

#nav-accommodations {
    color: var(--primary-color);
    border-top: 3px solid var(--primary-color);
}

#nav-activities {
    color: black;
}

#nav-activities:hover {
    color: var(--primary-color);
    border-top: 3px solid var(--primary-color);
}

#nav-register {
    font-weight: bold;
}


/*** Téléphone ***/

@media screen and (max-width: 860px) {
    header {
        max-width: 100%;
        margin: auto;
    }
    nav {
        display: grid;
        grid-template-areas: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        height: 150px;
    }
    nav a {
        margin: 0;
        padding: 0;
    }
    .nav-without-logo {
        margin-right: 0;
    }
    .logo {
        grid-area: unset;
        justify-content: left;
        display: unset;
    }
    #logo {
        display: flex;
        margin-top: 25px;
        margin-left: 15%;
    }
    #nav-accommodations {
        grid-column-start: 1;
        grid-row-start: 2;
        justify-content: center;
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
        padding: 25px;
        border-top: unset;
    }
    #nav-activities {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-content: center;
        color: black;
        border-bottom: 3px solid #F2F2F2;
        padding: 25px;
    }
    #nav-activities:hover {
        color: unset;
        border-top: unset;
    }
    #nav-activities:active {
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
        border-top: unset;
    }
    #nav-register {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-area: unset;
        justify-content: right;
        padding-right: 15%;
        padding-top: 30px;
    }
}