.title {
    margin: 60px 0 10px 50px;
    padding: 0;
}

h1 {
    margin: 0 0 5px 0;
    font-size: x-large;
}

.title p {
    margin: 0;
}


/**** Research ****/

#search {
    display: flex;
    height: 50px;
    max-width: 400px;
    margin: 10px 0 25px 50px;
}

#maps {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

input::placeholder {
    color: black;
    opacity: 1;
    font-size: medium;
    font-weight: bold;
}

#site-search {
    width: 65%;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
}

#button-search {
    width: 45%;
    height: 50px;
    padding: 0 20px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0 15px 15px 0;
}

#button-searchicon {
    display: none;
}


/**** Informations ****/

.info {
    margin-left: 50px;
}

.info-img {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
}

.info i {
    padding: 4px 0 0 8px;
}

.info-more {
    padding-top: 2px;
    margin-bottom: 40px;
}


/****** Téléphone ******/

@media screen and (max-width: 600px) {
    .title {
        margin: 20px 6% 30px 6%;
    }
    #site-search {
        max-width: 500px;
        min-width: 200px;
    }
    #search {
        margin-left: 6%;
    }
    #button-search {
        display: none;
    }
    #button-searchicon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        max-width: 30%;
        padding: 0 20px;
        color: white;
        background-color: var(--primary-color);
        border: 0;
        border-radius: 15px;
        position: relative;
        right: 15px;
    }
    .info {
        margin-left: 6%;
    }
}